name: Build
on:
  workflow_dispatch:
    inputs:
      package_name:
        description: "Package name of the game:"
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Zygisk Module
        uses: ./.github/actions/build-module
        with:
          package_name: ${{ github.event.inputs.package_name }}
          java_version: '11'
          distribution: 'temurin'
          gradle_task: ':module:assembleRelease'

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: zygisk-il2cppdumper
          path: out/magisk_module_release/
